<%= link_to new_album_path do %>
  <button type="button" class="btn btn-primary">Add Album</button>
<% end %>
<hr>
<%= render 'album', albums: @albums %>
<div class="paginate">
  <%= paginate @albums %>
</div>