<div class="row">
  <div class="col-md-3 container">
    <div class="caption">
      <span class="glyphicon glyphicon-edit"></span>
    </div>
    <%= image_tag("image2.jpg", class: 'image') %>
  </div>
</div>