<%= link_to new_photo_path do %>
  <button type="button" class="btn btn-primary">Add Photo</button>
<% end %>
<hr>
<div class="row">
  <div class="col-md-3 container">
    <div class="caption">
      <span class="glyphicon glyphicon-edit"></span>
    </div>
    <%= image_tag("image2.jpg", class: 'image') %>
  </div>
</div>