<div class="col-sm-2 col-xs-12">
  <ul class="nav list-menu">
    <li><%= link_to 'Feeds', photos_path %></li>
    <li><%= link_to 'My Photos', my_photos_path %></li>
    <li><%= link_to 'My Album', my_albums_path %></li>
  </ul>
</div>