<!DOCTYPE html>
<html>
  <head>
    <title>NusFotobook</title>
    <%= render 'layouts/head_include' %>
  </head>

  <body>
  	<%= render 'layouts/header' %>
  	<div class="container main-feed">
  		<%= yield %>
  		<%= render 'layouts/footer' %>
  	</div>
  </body>
</html>
